<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension-point id="cheatsheetExtensionPoint" name="Cheatsheet Extension Point" schema="schema/cheatsheetExtensionPoint.exsd"/>

	<extension
         point="fr.ffontenoy.e4.stickyview.stickyviewExtensionPoint">
      <StickyView
            containerData="10000"
            label="Cheat Sheets"
            partClass="fr.ffontenoy.e4.cheatsheet.parts.CheatsheetsPart"
            partId="fr.ffontenoy.e4.cheatsheet.Cheatsheet"
            position="right"
            shortcut="M1+M2+C"
            visibleAtStartup="false">
      </StickyView>
   </extension>
 <extension
       id="id1"
       point="org.eclipse.e4.workbench.model">
    <processor
          apply="always"
          beforefragment="false"
          class="fr.ffontenoy.e4.cheatsheet.processors.CheatsheetProcessor">
    </processor>
 </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CheatSheets -->
      <package
            uri="http://fr.ffontenoy.e4.cheatsheet/cheatsheets/1.0"
            class="fr.ffontenoy.e4.cheatsheet.model.cheatsheets.CheatsheetsPackage"
            genModel="model/CheatSheets.genmodel"/>
   </extension>

</plugin>
